###############################################################################
# Files that are preferable with LF
###############################################################################
*.sh text eol=lf
mvnw text eol=lf
